<template>
    <main class="wrapper p-5">
        <!--Form for the creation of the trivia-->
        <form @submit.prevent="onStartTriviaSubmit">
            <h4>Trivia Setup</h4>

            <section class="form-group mb-4">
                <label class="form-label">Numbers of Questions</label>
                <input
                    type="number"
                    min="1"
                    max="50"
                    class="form-control"
                    v-model="selectedNumberOfQuestions"
                />
            </section>

            <section class="form-group mb-4">
                <label class="form-label">Select Category</label>
                <select class="form-select" v-model="selectedCategory">
                    <option
                        v-for="category of categories"
                        :key="category.id"
                        :value="category.id"
                    >
                        {{ category.name }}
                    </option>
                </select>
            </section>

            <section class="form-group mb-4">
                <label class="form-label">Select Difficulty</label>
                <select class="form-select" v-model="selectedDifficulty">
                    <option
                        v-for="difficulty of difficulties"
                        :key="difficulty"
                        :value="difficulty.value"
                    >
                        {{ difficulty.name }}
                    </option>
                </select>
            </section>

            <button type="submit" class="btn btn-warning btn-lg">
                Start Trivia
            </button>
        </form>
    </main>
</template>

<script>
import { getCategories } from '@/api/categoriesAPI';
import { setConfig } from '@/utils/config';

export default {
    async created() {
        //Gets the categories from the importe api function
        this.categories = await getCategories();
        //Add a any category manualy since it is not in the category api
        this.categories.unshift({ id: '', name: 'Any category' });
    },
    methods: {
        onStartTriviaSubmit() {
            setConfig({
                numbers: this.selectedNumberOfQuestions,
                category: this.selectedCategory,
                difficulty: this.selectedDifficulty,
            });

            this.$router.push('/trivia');
        },
    },
    data() {
        return {
            selectedCategory: '',
            selectedDifficulty: '',
            selectedNumberOfQuestions: 10,
            selectedType: '',
            categories: [],
            difficulties: [
                {
                    name: 'Any Difficulty',
                    value: '',
                },
                {
                    name: 'Easy',
                    value: 'easy',
                },
                {
                    name: 'Medium',
                    value: 'medium',
                },
                {
                    name: 'Hard',
                    value: 'hard',
                },
            ],
            quiz: [],
        };
    },
};
</script>
