<template>
    <div class="wrapper">
        <section class="d-grid gap-2 p-4" v-if="trivia[questionIndex]">
            <label>{{ getQuestion.category }}</label>
            <h4 class="">{{ getQuestion.question }}</h4>
            <button
                class="btn btn-warning p-2 mt-1"
                v-for="answer in getQuestion.answers"
                :key="answer"
                v-html="answer"
                :value="answer"
                @click="handleAnswer"
            ></button>
        </section>
    </div>
</template>

<script>
import { getConfig } from '@/utils/config';
import { getTrivia } from '@/api/triviaAPI';
import { setResult } from '@/utils/config';

export default {
    computed: {
        getQuestion() {
            if (this.trivia !== [] && this.questionIndex < this.trivia.length) {
                return this.trivia[this.questionIndex];
            }
            return null;
        },
    },
    methods: {
        handleAnswer: function(event) {
            const value = event.target.getAttribute('value');
            const correct = this.trivia[this.questionIndex].correct_answer;
            if (value === correct) {
                this.score += 10;
            }
            this.trivia[this.questionIndex].user_answer = value;
            if (this.questionIndex != this.trivia.length - 1) {
                this.questionIndex += 1;
            } else {
                setResult({
                    trivia: this.trivia,
                    score: this.score,
                });
                this.$router.push('/result');
            }
        },
    },

    async created() {
        const config = getConfig();

        if (config === null) {
            this.$router.push('/');
            return;
        }

        this.trivia = await getTrivia(
            config.numbers,
            config.category,
            config.difficulty
        );
    },
    data() {
        return {
            trivia: [],
            questionIndex: 0,
            score: 0,
        };
    },
};
</script>
