<template>
    <div class="wrapper p-5">
        <h3>Your score: {{ score }}/{{ triviaResult.length * 10 }}</h3>
        <div
            class="result"
            v-for="question of triviaResult"
            :key="question.question"
        >
            <h5>{{ question.question }}</h5>
            <p>Correct answer: {{ question.correct_answer }}</p>
            <!--Checks if the users answer is correct-->
            <p
                :class="
                    question.user_answer == question.correct_answer
                        ? 'correct-answer'
                        : 'wrong-answer'
                "
            >
                Your answer: {{ question.user_answer }}
            </p>
        </div>
        <div class="row">
            <router-link to="/" class="btn btn-warning mt-4">
                CONFIGURE NEW TRIVIA
            </router-link>
            <router-link to="/trivia" class="btn btn-warning mt-3">
                REPLAY WITH DIFFERENT QUESTIONS
            </router-link>
        </div>
    </div>
</template>

<script>
import { getResult } from '@/utils/config';

export default {
    created() {
        const results = getResult();
        this.triviaResult = results.trivia;
        this.score = results.score;
    },
    data() {
        return {
            triviaResult: [],
            score: 0,
        };
    },
};
</script>

<style scoped>
p {
    padding: 0.5rem;
}
.result {
    background-color: rgb(245, 245, 245);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 0.5rem;
    margin-top: 1rem;
}
.correct-answer {
    background-color: green;
    color: white;
    border-radius: 0.5rem;
}

.wrong-answer {
    background-color: red;
    color: white;
    border-radius: 0.5rem;
}
</style>
