<template>
    <div id="app">
        <h2 id="logo">
            A Below Average<br />
            Trivia app
        </h2>
        <router-view />
    </div>
</template>

<style>
#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#logo {
    color: rgb(177, 236, 122);
    text-align: center;
    margin-top: 1rem;
    font-family: 'Press Start 2P', cursive;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(250, 13, 238);
}
</style>
